[package]
name = "lirpc_macros"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
quote = "1"
syn = { version = "2", features = ["full"] }
proc-macro2 = "1"
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.148"
